<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-body">
      <h2 class="title">Detail Karyawan</h2>
      <form [formGroup]="fg">
        <div class="row">
          <div class="col-md-4 col-sm-6 pb-25">
            <div class="form-group">
              <label class="form-text color-grey mt-0 mb-5">Nama Karyawan</label>
              <input type="text" formControlName="first_name" class="form-control" readonly />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 pb-25">
            <div class="form-group">
              <label class="form-text color-grey mt-0 mb-5">Last Name</label>
              <input type="text" formControlName="last_name" class="form-control" readonly />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 pb-25">
            <div class="form-group">
              <label class="form-text color-grey mt-0 mb-5">E-mail</label>
              <input type="email" formControlName="email" class="form-control" readonly />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <button class="btn btnSubmit mt-4" (click)="editEmployee()">
              Ubah Pekerjaan Karyawan
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
