<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-12">
            <h2 class="title">Filter Pencarian</h2>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-3 col-sm-4">
            <div class="form-group">
              <label class="mt-0 form-text color-grey">First Name</label>
              <input
                type="search"
                class="form-control"
                formControlName="first_name"
                placeholder="Masukkan Nama"
                (change)="filterName($event.target.value)"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="form-group">
              <label class="mt-0 form-text color-grey">Email</label>
              <input
                type="search"
                class="form-control"
                formControlName="email"
                placeholder="Masukkan Email"
                (change)="filterEmail($event.target.value)"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-body">
      <div class="row spinner-container" *ngIf="loadingResult">
        <ngx-spinner size="medium" color="black" type="ball-scale-multiple" [fullScreen]="false">
          <p class="overlay-label pt-5">Memuat...</p>
        </ngx-spinner>
      </div>
      <div class="row pb-13 justify-content-end" *ngIf="!loadingResult">
        <div class="col-lg-2 col-md-3 col-3 text-right">
          <button class="btn btnSubmit" (click)="redirectAdd()">Tambah</button>
        </div>
      </div>
      <div class="row" *ngIf="!loadingResult">
        <div class="col-lg-12">
          <ngx-datatable
            #memberTable
            class="bootstrap"
            [sortType]="'single'"
            [headerHeight]="80"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [rows]="tempMemberList"
            [count]="totalRows"
            [columnMode]="'force'"
            [offset]="offset"
            [externalPaging]="true"
            [scrollbarV]="false"
            [scrollbarH]="true"
            [limit]="5"
            (page)="setPage($event)"
          >
            <!-- class="bootstrap"
          [rows]="filterRow"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          rowHeight="auto" -->
            <ngx-datatable-column name="Avatar" prop="avatar" [width]="80">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <img [src]="value" width="80" height="80" />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="First Name" prop="first_name" [width]="80">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="elipsis">{{ value }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Last Name" prop="last_name" [width]="80">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="elipsis">{{ value }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email" [resizeable]="false">
              <ng-template let-value="value" ngx-datatable-cell-template>
                <div class="elipsis">{{ value }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Aksi" prop="id" [sortable]="false" [resizeable]="false">
              <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                <i class="fa fa-pencil icon-style" aria-hidden="true" (click)="redirectDetail(value)"></i>
                <i
                  class="fa fa-trash-o icon-style"
                  aria-hidden="true"
                  (click)="selectedRow(value, row['first_name'], row['last_name'])"
                ></i>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<app-confirm-modal
  [title]="titleModal"
  [message]="messageModal"
  [submitLabel]="submitLabelModal"
  (submitButton)="actionSelectedCampaign()"
>
</app-confirm-modal>
