.color {
  &-grey {
    color: #899497 !important;
  }
}

.datatable-action-text {
  font-size: 14px;
  cursor: pointer;
}

.pb {
  &-13 {
    padding-bottom: 13px !important;
  }
}

.elipsis {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-style {
  font-size: 20px;
  margin-right: 10px;
}
