.message {
  color: #565756;
}
.custom-modal {
  //   position: absolute;
  //   left: 50%;
  top: 25%;
  //   transform: translate(-50%, -50%) !important;
}

.custom-btn-left {
  color: #fff;
  background: #c90000 !important;
  border-radius: 15px;
  margin: 10px;
  width: 100px;
}
.custom-btn-right {
  color: #fff;
  background: #049dd9 !important;
  border-radius: 15px;
  margin: 10px;
  width: 100px;
}

.title-modal {
  font-family: 'Nunito Bold';
  font-weight: 700;
  font-size: 20px;
}
