<div
  *ngIf="isModalOpen"
  [config]="{ show: true }"
  bsModal
  #autoShownModal="bs-modal"
  (onHidden)="onHidden()"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-auto-name"
>
  <div class="modal-dialog modal-md custom-modal">
    <div class="modal-content">
      <!-- <div class="modal-header">
        {{ title }}
      </div> -->
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 pb-3">
            <h4 id="dialog-auto-name" class="modal-title pull-left title-modal">{{ title }}</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12"><span [innerHtml]="message" class="message"></span><br /><br /></div>
        </div>
        <div class="row">
          <div class="col-12 text-end">
            <button type="button" class="btn custom-btn-left" (click)="hideModal()">Batalkan</button>
            <button type="button" class="btn custom-btn-right" (click)="onSubmit()">
              {{ submitLabel }}
            </button>
          </div>
        </div>
      </div>

      <!-- old button -->
      <!-- [ngClass]="{ 'btn-outline-primary': type === 'add' || !type, 'btn-danger': type === 'delete' }"
      [ngClass]="{ 'btn-primary': type === 'add' || !type, 'btn-primary': type === 'delete' }" -->

      <!--   <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
