<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-body">
      <h2 class="title">Ubah Data Karyawan</h2>
      <form [formGroup]="fg">
        <div class="row">
          <div class="col-md-4 col-sm-6 pb-25">
            <div class="form-group">
              <label class="form-text color-grey mt-0 mb-5">Nama Karyawan</label>
              <input
                [ngClass]="{
                  'is-invalid': fg.controls['name'].errors && fg.controls['name'].dirty
                }"
                type="text"
                formControlName="name"
                class="form-control"
                placeholder="Masukkan Nama Karyawan"
              />
            </div>
            <div
              class="invalid-validation text-content"
              *ngIf="fg.controls['name'].errors && fg.controls['name'].dirty"
            >
              <div *ngIf="fg.controls['name'].errors.required">Nama karyawan harus diisi.</div>
              <div *ngIf="fg.controls['name'].errors.pattern">Tidak boleh ada spasi diawal dan akhir nama.</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 pb-25">
            <div class="form-group">
              <label class="form-text color-grey mt-0 mb-5">Job</label>
              <input
                [ngClass]="{
                  'is-invalid': fg.controls['job'].errors && fg.controls['job'].dirty
                }"
                type="text"
                formControlName="job"
                class="form-control"
                placeholder="Masukkan Job"
              />
            </div>
            <div class="invalid-validation text-content" *ngIf="fg.controls['job'].errors && fg.controls['job'].dirty">
              <div *ngIf="fg.controls['job'].errors.required">Job harus diisi.</div>
              <div *ngIf="fg.controls['job'].errors.pattern">Tidak boleh ada spasi diawal dan akhir job.</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-6">
            <button
              class="btn btnSubmit mt-4"
              type="submit"
              (click)="checkSubmit()"
              [disabled]="(!fg.valid && !isProcessing) || (fg.valid && isProcessing)"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-confirm-modal
  [message]="messageModal"
  [submitLabel]="submitLabelModal"
  [title]="titleModal"
  (submitButton)="editEmployee()"
>
</app-confirm-modal>
