// @import './bootstrap.scss';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import './assets/css/ngx-datatable-bootstrap.scss';

@font-face {
  font-family: 'Nunito Semi-Bold';
  src: url('./assets/fonts/Nunito-SemiBold.ttf');
}

@font-face {
  font-family: 'Nunito Light';
  src: url('./assets/fonts/Nunito-Light.ttf');
}

@font-face {
  font-family: 'Nunito Bold';
  src: url('./assets/fonts/Nunito-Bold.ttf');
}

@font-face {
  font-family: 'Nunito Regular';
  src: url('./assets/fonts/Nunito-Regular.ttf');
}

// Ngx spinner overlay css
.overlay {
  border-radius: 10px !important;
  background-color: white !important;
  opacity: 55% !important;

  &-label {
    font-size: 20px;
    color: black;
  }
}

* {
  font-family: 'Nunito Bold';
  margin: 0;
  padding: 0;
}

body {
  background-color: #eef7ff;
}

b {
  font-family: 'Nunito Bold';
  font-weight: 700;
}

::placeholder {
  color: rgba(137, 148, 151, 0.5) !important;
  // opacity: 1 !important;
}

.main-container {
  margin-left: 265px;
  padding: 15px;
  position: relative;
}

.card {
  border-radius: 14px !important;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.07);
  border: none !important;
}

@media screen and (max-width: 992px) {
  .main-container {
    margin-left: 0px !important;
    // margin-left: 256px;
  }
}

@media print {
  .main-container {
    margin-top: 0px !important;
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 992px) {
  .push-right {
    .sidebar {
      left: 235px !important;
    }
  }
}

.invalid-validation {
  width: 100%;
  height: 0px;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
  padding-bottom: 19px;
}

.text-content {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.mb {
  &-5 {
    margin-bottom: 5px;
  }
}

.pb {
  &-25 {
    padding-bottom: 25px !important;
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.form-control {
  border-radius: 0 !important;
  font-size: 14px;
  font-weight: 400;
}

.form-text {
  // font-size: 12px;
  // font-weight: 400;
  margin-bottom: 0.25rem;
  font-size: 14px;
  font-family: 'Nunito Regular';
}

.datatable-action-text {
  font-size: 14px;
  cursor: pointer;
}

.ngx-datatable.bootstrap .datatable-header {
  font-size: 14px;
}

// .ngx-datatable.bootstrap .datatable-header .datatable-header-cell {
//   border-bottom: none;
// }

// .ngx-datatable.bootstrap .datatable-body .datatable-body-row {
//   border-top: none;
// }

.datatable-body-cell-label {
  font-size: 14px !important;
}

.page-count {
  font-size: 14px;
}

.pager {
  font-size: 14px;
}

.datatable-icon-prev::before {
  font-size: 18px;
  size: 18px;
}

.datatable-icon-left::before {
  font-size: 18px;
  size: 18px;
}

.datatable-icon-right::before {
  font-size: 18px;
  size: 18px;
}

.datatable-icon-skip::before {
  font-size: 18px;
  size: 18px;
}

.title {
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 30px !important;
  color: #899497 !important;
  font-family: 'Nunito Bold' !important;
}

.btnSubmit {
  width: 100%;
  height: 35px;
  background-color: #4178bf;
  color: white;
  font-size: 14px;
}

.btnSubmit:hover {
  color: white;
}

.capitalize {
  text-transform: capitalize;
}

.input-group-text {
  height: 40px;
}

//Loader
.loader {
  -webkit-animation: blink-2 1s infinite both;
  animation: blink-2 1s infinite both;
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-family: ‘Nunito Regular’;
}

.color {
  &-blue {
    color: #4178bf;
  }
  &-red {
    color: #c90000;
  }
  &-green {
    color: #3eb13e;
  }
  &-grey {
    color: #899497;
  }
}

@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink-2 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.message-important {
  color: red;
  font-size: 14px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
